/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4c51bf;
  --ifm-color-primary-dark: #3f44b1;
  --ifm-color-primary-darker: #3c40a7;
  --ifm-color-primary-darkest: #31358a;
  --ifm-color-primary-light: #6064c6;
  --ifm-color-primary-lighter: #6a6eca;
  --ifm-color-primary-lightest: #878ad4;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #e5e5f1;
  --ifm-color-primary-dark: #c6c6e1;
  --ifm-color-primary-darker: #b7b7d8;
  --ifm-color-primary-darkest: #8989c0;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}
